name: Update manifest

on:
  workflow_dispatch:
  schedule:
    - cron: "0 18 * * 5"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      GITHUB_USERNAME: ${{ github.repository_owner }}
      PAT: ${{ secrets.PAT }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests

      - name: Configure git
        run: |
          git config user.name "$GITHUB_USERNAME"
          git config user.email "$GITHUB_USERNAME@proton.me"

      - name: Run manifest generator
        run: python generate_manifest.py
